[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "parquetize"]
	path = parquetize
	url = https://github.com/ddotta/parquetize
[submodule "quartify"]
	path = quartify
	url = https://github.com/ddotta/quartify
[submodule "tablexlsx"]
	path = tablexlsx
	url = https://github.com/ddotta/tablexlsx
